@model IEnumerable<MarketPlaceProject.ViewModels.CategoryVM>

@{
    ViewBag.Title = "CategoryList";
}

<h2>CategoryList</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
    </tr>
}

</table>