@model MarketPlaceProject.ViewModels.CompareVM

@{
    ViewBag.Title = "Compare Products";
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h2>Compare Products</h2>

    @Html.Partial("_SearchBar", Model.Categories)

    <div class="compare-container">
        <table>
            <thead>
                <tr>
                    <th>Description</th>
                    @foreach (var product in Model.Products)
                    {
                        <th>@product.ProductName</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var attribute in Model.SubCategory.Attributes)
                {
                    <tr>
                        <td>@attribute.AttributeName</td>
                        @foreach (var product in Model.Products)
                        {
                            var detail = attribute.AttributeDetails.FirstOrDefault(ad => ad.ProductID == product.ProductID).Details;
                            <td>@detail</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>