@model IEnumerable<MarketPlaceProject.ViewModels.KeySpecVM>

@{
    ViewBag.Title = "Key Specifications";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Details.css" rel="stylesheet" type="text/css" />
    <title>Key Specifications</title>
</head>
<body>
    <h2>Key Specifications</h2>
    <div class="keyspec-details">
        <ul>
            @foreach (var item in Model)
            {
                <li><strong>@item.Key:</strong> @item.Value</li>
            }
        </ul>
    </div>
</body>
</html>
