@model IEnumerable<MarketPlaceProject.ViewModels.CategoryVM>

@{
    ViewBag.Title = "Main Page";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <style>
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(to bottom, #1a73e8, #fff);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
    </style>
</head>

<body>
    <div class="logo-container">
        <a href="@Url.Action("MainPage", "Product")">
            <img src="~/Content/icons/logo.png" alt="Logo" class="logo">
        </a>
    </div>
    <h2>
        <b>
            Building Product Selection Platform
        </b>
    </h2>

    @Html.Partial("_SearchBar", Model)

</body>
</html>