@model MarketPlaceProject.ViewModels.SearchVM

@{
    ViewBag.Title = "Search Product";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <h2>Search Products</h2>
    @Html.Partial("_SearchBar", Model.Categories)

    <button id="compareButton">Compare</button>
    @if (TempData["compareFailed"] != null)
    {
        <div id="compareFailed" class="alert alert-warning">
            @TempData["compareFailed"]
        </div>
    }
    <div class="container">
        @Html.Partial("_FilterBar", Model)

        @Html.Partial("_ProductList", Model.Products)
    </div>
</body>
</html>

<script>
    $(document).ready(function () {
        var messageDiv = $('#compareFailed');
        if (messageDiv.text().trim().length > 0) {
            messageDiv.show();
            setTimeout(function () {
                messageDiv.fadeOut('slow');
            }, 5000);
        }
    });</script>