/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #1a73e8, #fff);
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    background: linear-gradient(to bottom, #1a73e8, #fff);
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header-search-container {
    width: 90%;
    background: linear-gradient(to bottom, #1a73e8, #fff);
}

.logo {
    width: 100px;
    height: auto;
}

.back-button {
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    border: none; /* No border */
    padding: 10px 20px; /* Padding around text */
    text-align: center; /* Center text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Aligns with other inline elements */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin around button */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition */
}

    .back-button:hover {
        background-color: #0056b3; /* Darker blue on hover */
    }

/* Search Page */

.search-container {
    background-color: inherit;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .search-container select,
    .search-container input[type="text"],
    .search-container button {
        margin-right: 10px;
    }

    .search-container select,
    .search-container input[type="text"] {
        padding: 5px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .search-container button {
        margin-left: 10px;
        padding: 6px 10px;
        border: none;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        border-radius: 4px;
    }

.search-product-table {
    display: flex;
    flex-wrap: wrap;
}

.search-product-column {
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(33.3333% - 20px);
    box-sizing: border-box;
}

    .search-product-column h3 {
        margin-top: 0;
        font-size: 20px;
    }

.product-checkbox {
    height: 24px;
    width: 24px;
    margin-bottom: 15px;
    cursor: pointer;
}

.search-attribute-row {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.search-attribute-name {
    font-weight: bold;
}

.filter-panel {
    width: 30%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .filter-panel h2 {
        margin-top: 0;
        font-size: 24px;
    }

.filter-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter-item {
    margin-bottom: 20px;
}

    .filter-item label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .filter-item input[type="range"] {
        width: 100%;
    }

    .filter-item select {
        width: 100%;
        padding: 5px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

#applyFilters,
#resetFilters {
    width: 40%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
}

#resetFilters {
    background-color: #dc3545;
}

#applyFilters {
    margin-right: 10px;
}

#compareButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 5px;
    font-size: 16px;
}

.compare-button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.compare-warning-container {
    margin: 10px;
    display: flex;
    justify-content: center;
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

#compare-failed {
    font-size: 24px;
}

/* Compare Page */
.compare-container {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    background-color: #f9f9f9;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
    border-bottom: 2px solid #ccc;
}

td {
    border-bottom: 1px solid #ccc;
}

thead th {
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}

tbody tr:first-child {
    font-weight: bold;
}

table img {
    width: 100px;
    height: auto;
}

.compare-container th,
.compare-container td {
    border-right: 1px solid #ddd;
}

    .compare-container th:last-child,
    .compare-container td:last-child {
        border-right: none;
    }

.compare-container thead th {
    border-top: 2px solid #ccc;
}

.compare-container tbody tr td:first-child {
    background-color: #f0f0f0;
    font-weight: bold;
}

.compare-container tbody tr td {
    text-align: center;
}

.compare-container thead th:first-child {
    width: 200px;
    text-align: left;
}

/* Product */
.product-image {
    width: 125px; /* Set your desired width */
    height: 125px; /* Set your desired height */
    object-fit: cover; /* Ensures images fit within the specified dimensions */
    margin-bottom: 10px; /* Adds space between the image and other elements */
}